<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armado0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,1},{25,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,28},{29,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,90},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,90},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,59}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,160},{37,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{51,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,199},{51,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{29,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,59},{29,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armado7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{33,57}</string>
                <key>spriteSourceSize</key>
                <string>{327,61}</string>
                <key>textureRect</key>
                <string>{{1,125},{33,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>armadonormal.png</string>
            <key>size</key>
            <string>{61,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37f25e7100a5bdd3c89158bc91b85b12:353e13bc3abb1a1830424af1a5521218:136a2a422d26fda344d93f393d51a5a9$</string>
            <key>textureFileName</key>
            <string>armadonormal.png</string>
        </dict>
    </dict>
</plist>
