<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cruzado0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,68}</string>
                <key>textureRect</key>
                <string>{{81,1},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cruzado1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,68}</string>
                <key>textureRect</key>
                <string>{{115,1},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cruzado2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{34,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,68}</string>
                <key>textureRect</key>
                <string>{{45,1},{34,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cruzado3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cruzado.png</string>
            <key>size</key>
            <string>{146,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34227ff224e2ff708602be1bdf5bba33:d65e7deb2d49a6fad5fca1f50c7712ba:4b56753de28236c04229df7adb6439df$</string>
            <key>textureFileName</key>
            <string>cruzado.png</string>
        </dict>
    </dict>
</plist>
