<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gancho0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{43,1},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gancho1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{33,61},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gancho3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{40,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gancho4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{1,61},{30,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganhco2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{250,70}</string>
                <key>textureRect</key>
                <string>{{43,1},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gancho.png</string>
            <key>size</key>
            <string>{72,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a01de19dd9516f55cbe95b2c3cb39f0:a22b1ac1b622a939ad55d6316e2d38f9:e44711234acdfb0423c920858a67ca08$</string>
            <key>textureFileName</key>
            <string>gancho.png</string>
        </dict>
    </dict>
</plist>
