<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>joelhada0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,37},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joelhada1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,93},{32,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joelhada2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,161},{30,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joelhada3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,127},{32,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joelhada4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joelhada5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{26,58}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,65},{26,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>joelhada6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,56}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{33,193},{26,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>joelhada7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{708,64}</string>
                <key>textureRect</key>
                <string>{{1,193},{30,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>joelhada.png</string>
            <key>size</key>
            <string>{60,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84675d7b60407dbd2621833b04899ebd:b3c0d78fafc1e614388799b5b9c92fda:7125ceea5c93b7bad3cf2a5140ac2721$</string>
            <key>textureFileName</key>
            <string>joelhada.png</string>
        </dict>
    </dict>
</plist>
