<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soco0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,56}</string>
                <key>spriteSourceSize</key>
                <string>{115,62}</string>
                <key>textureRect</key>
                <string>{{83,1},{29,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soco1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,56}</string>
                <key>spriteSourceSize</key>
                <string>{115,62}</string>
                <key>textureRect</key>
                <string>{{48,1},{33,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soco2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{45,56}</string>
                <key>spriteSourceSize</key>
                <string>{115,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>socoum.png</string>
            <key>size</key>
            <string>{113,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e99f01262a2cfb3816313a624ffdb191:3c9279b673e7174103bee0fbaf6ace4a:4f23a1650d4e1c5b3d782ef225f9a15b$</string>
            <key>textureFileName</key>
            <string>socoum.png</string>
        </dict>
    </dict>
</plist>
