<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>socac0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{47,1},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>socac1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soconormal.png</string>
            <key>size</key>
            <string>{80,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257616640a348577c22fd4467d991b79:86fe54b5c273986af6d502912b604ecc:26cca358dbddc7bfe1b96a0886c0855a$</string>
            <key>textureFileName</key>
            <string>soconormal.png</string>
        </dict>
    </dict>
</plist>
