<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>socodif0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,59}</string>
                <key>textureRect</key>
                <string>{{155,1},{26,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>socodif1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,59}</string>
                <key>textureRect</key>
                <string>{{125,1},{28,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>socodif2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,59}</string>
                <key>textureRect</key>
                <string>{{89,1},{34,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>socodif3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>socodif4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,59}</string>
                <key>textureRect</key>
                <string>{{183,1},{22,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>socodif5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{42,57}</string>
                <key>spriteSourceSize</key>
                <string>{234,59}</string>
                <key>textureRect</key>
                <string>{{45,1},{42,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sococinco.png</string>
            <key>size</key>
            <string>{206,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5289d43da6183ee0c0e7436bfa6c31e:5e372751ced502a0c290448474379269:c17469148c0a4fb395a4a4cb01436d94$</string>
            <key>textureFileName</key>
            <string>sococinco.png</string>
        </dict>
    </dict>
</plist>
